.logo{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}

html { 
    font-size: 16px; 
}

body {
    font-family: 'Montserrat' !important;
}

:root {
    --main-blue: rgb(64, 136, 192);  
  }
  